<div class="listCrt example-container">
      <div class="row show-hide-message">
        <div [ngClass]="messageClass">
          {{message}}
        </div>
      </div>
  <h2 mat-dialog-title class="title"> CART ITEM's </h2>  <button mat-raised-button color="warn" >Total Item: {{totalItem}}</button>
  <hr>
  <mat-card-content>
    <mat-grid-list cols="1" rowHeight="3:1">
      <mat-grid-tile *ngFor="let item of cartItemList ">
        <img (click)="openDialog(item)" class="imageClass" src="{{item.image_path}}">
        <mat-grid-tile-footer>
          <h3 mat-line>{{item.name}}</h3>
          <span mat-line>Price: {{item.price}}</span>
          <span mat-line>Price: {{item.description}}</span>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
  <div class="payment-btn">
    <mat-dialog-actions>
      <button mat-raised-button color="warn" >Total Price:Rs.{{totalPrice ?  totalPrice : '00:00'}}</button>
      <button mat-raised-button class="checkbtn" (click)="paymentForItem(cartItemList)">Proceed to Payment </button>

    </mat-dialog-actions>
  </div>
</div>
