<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Shopping cart</span>
    <span class="example-spacer"></span>
    <button *ngIf="authService.loggedIn()" routerLink="/home" mat-button>Home</button>
    <button *ngIf="!authService.loggedIn()" routerLink="/login" mat-button>Login</button>
    <button *ngIf="authService.loggedIn()" (click)="onClickLogout()" mat-button>LogOut</button>
    <button *ngIf="authService.loggedIn()" routerLink="/cart" mat-button>Cart</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<!-- <app-login></app-login> -->
