<!-- 
<ol>
  <li>
    <mat-form-field>
      <input matInput [(ngModel)]="name" placeholder="What's your name?">
    </mat-form-field>
  </li>
  <li>
    <button mat-raised-button (click)="openDialog()">Pick one</button>
  </li>
  <li *ngIf="animal">
    You chose: <i>{{animal}}</i>
  </li>
</ol> -->



  <!-- <div class="modal-dialog"> -->
    <div class="modal-content">
      <div class="modal-header">
        <button name="button" type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirm</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want like to delete this blog?</p>
      </div>
      <div class="modal-footer">
        <button type="button" name="button" class="btn btn-sm btn-success" (click)="deleteBlog()">Yes</button>
        <a routerLink='/blog'>
          <button  type="button" name="button" class="btn btn-sm btn-danger">No</button>
        </a>
      </div>
    </div>





