
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}


.example-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 10% !important;
    /* margin-left: 40%; */
    width: 492px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 21px;
    border-radius: 5px;
    box-shadow: 0 0px 25px #bdbdbd;
}


.mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 400px !important;
    width: 100% !important;
    /*float: left;*/
}

raised-button.mat-warn {
    background-color: #f44336;
    margin-left: 39%;
}
